# Android Release Keystore Configuration Template
# Copy this file to `android/keystore.properties` or `keystore.properties` in root and fill in your details.
# DO NOT COMMIT `keystore.properties` or your `.jks` file to git repository!

storePassword=YOUR_STORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=blacklovelink
storeFile=release-key.jks
